In [21]:
import numpy as np

class LinearRegression(object):
    def __init__(self, fit_intercept=True, copy_X=True):
        self.fit_intercept = fit_intercept #절편값
        self.copy_X = copy_X #기존의 X값 copy
        
        self._coef = None
        self._intercept = None
        self._new_X = None
        
    def fit(self, X, y):
        self._new_X = np.array(X)
        y = y.reshape(-1,1)
        
        if self.fit_intercept:
            intercept_vector = np.ones([len(self._new_X),1])
            self._new_X = np.concatenate((intercept_vector, self._new_X),axis=1)
            
        weights = np.linalg.inv(self._new_X.T.dot(self._new_X)).dot(self._new_X.T.dot(y)).flatten()
        
        if self.fit_intercept:
            self._intercept = weights[0]
            self._coef = weights[1:]
        else:
            self._coef = weights
    
    def predict(self, X):
        test_X = np.array(X)
        
        if self.fit_intercept:
            intercept_vector = np.ones([len(test_X),1])
            test_X = np.concatenate((intercept_vector, test_X),axis=1)
            
            weights = np.concatenate(([self._intercept], self._coef),axis=0)
        else:
            weights = self._coef
        return test_X.dot(weights)
               
    @property
    def coef(self):
        return self._coef
    
    @property
    def intercept(self):
        return self._intercept

In [22]:
import pandas as pd
import numpy as np

## Load Dataset - simple variable

In [23]:
df = pd.read_csv("C:/Users/qual9/test.csv")
df.head()

    x          y
0  77  79.775152
1  21  23.177279
2  22  25.609262
3  20  17.857388
4  36  41.849864

In [24]:
X = df["x"].values.reshape(-1,1)
X

array([[ 77],
       [ 21],
       [ 22],
       [ 20],
       [ 36],
       [ 15],
       [ 62],
       [ 95],
       [ 20],
       [  5],
       [  4],
       [ 19],
       [ 96],
       [ 62],
       [ 36],
       [ 15],
       [ 65],
       [ 14],
       [ 87],
       [ 69],
       [ 89],
       [ 51],
       [ 89],
       [ 27],
       [ 97],
       [ 58],
       [ 79],
       [ 21],
       [ 93],
       [ 27],
       [ 99],
       [ 31],
       [ 33],
       [ 80],
       [ 28],
       [ 47],
       [ 53],
       [ 69],
       [ 28],
       [ 33],
       [ 91],
       [ 71],
       [ 50],
       [ 76],
       [  4],
       [ 37],
       [ 70],
       [ 68],
       [ 40],
       [ 35],
       [ 94],
       [ 88],
       [ 52],
       [ 31],
       [ 59],
       [  0],
       [ 39],
       [ 64],
       [ 69],
       [ 57],
       [ 13],
       [ 72],
       [ 76],
       [ 61],
       [ 82],
       [ 18],
       [ 41],
       [ 50],
       [ 55],
       [ 13],
       [ 46],
       [ 13],
       [ 79],
       [ 53],
       [ 15],
       [ 28],
       [ 81],
       [ 69],
       [ 52],
       [ 84],
       [ 68],
       [ 27],
       [ 56],
       [ 48],
       [ 40],
       [ 39],
       [ 82],
       [100],
       [ 59],
       [ 43],
       [ 67],
       [ 38],
       [ 63],
       [ 91],
       [ 60],
       [ 14],
       [ 21],
       [ 87],
       [ 73],
       [ 32],
       [  2],
       [ 82],
       [ 19],
       [ 74],
       [ 42],
       [ 12],
       [  1],
       [ 90],
       [ 89],
       [  0],
       [ 41],
       [ 16],
       [ 94],
       [ 97],
       [ 66],
       [ 24],
       [ 17],
       [ 90],
       [ 13],
       [  0],
       [ 64],
       [ 96],
       [ 98],
       [ 12],
       [ 41],
       [ 47],
       [ 78],
       [ 20],
       [ 89],
       [ 29],
       [ 64],
       [ 75],
       [ 12],
       [ 25],
       [ 28],
       [ 30],
       [ 65],
       [ 59],
       [ 64],
       [ 53],
       [ 71],
       [ 97],
       [ 73],
       [  9],
       [ 12],
       [ 63],
       [ 99],
       [ 60],
       [ 35],
       [  2],
       [ 60],
       [ 32],
       [ 94],
       [ 84],
       [ 63],
       [ 22],
       [ 81],
       [ 93],
       [ 33],
       [  7],
       [ 42],
       [ 46],
       [ 54],
       [ 16],
       [ 49],
       [ 43],
       [ 95],
       [ 66],
       [ 21],
       [ 35],
       [ 80],
       [ 37],
       [ 54],
       [ 56],
       [  1],
       [ 32],
       [ 58],
       [ 32],
       [ 46],
       [ 72],
       [ 17],
       [ 97],
       [ 93],
       [ 91],
       [ 37],
       [  4],
       [ 54],
       [ 51],
       [ 27],
       [ 46],
       [ 92],
       [ 73],
       [ 77],
       [ 91],
       [ 61],
       [ 99],
       [  4],
       [ 72],
       [ 19],
       [ 57],
       [ 78],
       [ 26],
       [ 74],
       [ 90],
       [ 66],
       [ 13],
       [ 40],
       [ 77],
       [ 67],
       [ 75],
       [ 23],
       [ 45],
       [ 59],
       [ 44],
       [ 23],
       [ 55],
       [ 55],
       [ 95],
       [ 12],
       [  4],
       [  7],
       [100],
       [ 48],
       [ 42],
       [ 96],
       [ 39],
       [100],
       [ 87],
       [ 14],
       [ 14],
       [ 37],
       [  5],
       [ 88],
       [ 91],
       [ 65],
       [ 74],
       [ 56],
       [ 16],
       [  5],
       [ 28],
       [ 92],
       [ 46],
       [ 54],
       [ 39],
       [ 44],
       [ 31],
       [ 68],
       [ 86],
       [ 90],
       [ 38],
       [ 21],
       [ 95],
       [ 56],
       [ 60],
       [ 65],
       [ 78],
       [ 89],
       [  6],
       [ 67],
       [ 36],
       [ 16],
       [100],
       [ 45],
       [ 73],
       [ 57],
       [ 20],
       [ 76],
       [ 34],
       [ 55],
       [ 72],
       [ 55],
       [  8],
       [ 56],
       [ 72],
       [ 58],
       [  6],
       [ 96],
       [ 23],
       [ 58],
       [ 23],
       [ 19],
       [ 25],
       [ 64],
       [ 21],
       [ 59],
       [ 19],
       [ 16],
       [ 42],
       [ 43],
       [ 61],
       [ 92],
       [ 11],
       [ 41],
       [  1],
       [  8],
       [ 71],
       [ 46],
       [ 55],
       [ 62],
       [ 47]], dtype=int64)

In [25]:
y = df["y"].values
y

array([ 79.77515201,  23.17727887,  25.60926156,  17.85738813,
        41.84986439,   9.80523488,  58.87465933,  97.61793701,
        18.39512747,   8.74674765,   2.81141583,  17.09537241,
        95.14907176,  61.38800663,  40.24701716,  14.82248589,
        66.95806869,  16.63507984,  90.65513736,  77.22982636,
        92.11906278,  46.91387709,  89.82634442,  21.71380347,
        97.41206981,  57.01631363,  78.31056542,  19.1315097 ,
        93.03483388,  26.59112396,  97.55155344,  31.43524822,
        35.12724777,  78.61042432,  33.07112825,  51.69967172,
        53.62235225,  69.46306072,  27.42497237,  36.34644189,
        95.06140858,  68.16724757,  50.96155532,  78.04237454,
         5.60766487,  36.11334779,  67.2352155 ,  65.01324035,
        38.14753871,  34.31141446,  95.28503937,  87.84749912,
        54.08170635,  31.93063515,  59.61247085,  -1.04011421,
        47.49374765,  62.60089773,  70.9146434 ,  56.14834113,
        14.05572877,  68.11367147,  75.59701346,  59.225745  ,
        85.45504157,  17.76197116,  38.68888682,  50.96343637,
        51.83503872,  17.0761107 ,  46.56141773,  10.34754461,
        77.91032969,  50.17008622,  13.25690647,  31.32274932,
        73.9308764 ,  74.45114379,  52.01932286,  83.68820499,
        70.3698748 ,  23.44479161,  49.83051801,  49.88226593,
        41.04525583,  33.37834391,  81.29750133, 105.5918375 ,
        56.82457013,  48.67252645,  67.02150613,  38.43076389,
        58.61466887,  89.12377509,  60.9105427 ,  13.83959878,
        16.89085185,  84.06676818,  70.34969772,  33.38474138,
        -1.63296825,  88.54475895,  17.44047622,  75.69298554,
        41.97607107,  12.59244741,   0.27530726,  98.13258005,
        87.45721555,  -2.34473854,  39.3294153 ,  16.68715211,
        96.58888601,  97.70342201,  67.01715955,  25.63476257,
        13.41310757,  95.15647284,   9.74416426,  -3.46788379,
        62.82816355,  97.27405461,  95.58017185,   7.46850184,
        45.44599591,  46.69013968,  74.4993599 ,  21.63500655,
        91.59548851,  26.49487961,  67.38654703,  74.25362837,
        12.07991648,  21.32273728,  29.31770045,  26.48713683,
        68.94699774,  59.10598995,  64.37521087,  60.20758349,
        70.34329706,  97.1082562 ,  75.7584178 ,  10.80462727,
        12.11219941,  63.28312382,  98.03017721,  63.19354354,
        34.8534823 ,  -2.81991397,  59.8313966 ,  29.38505024,
        97.00148372,  85.18657275,  61.74063192,  18.84798163,
        78.79008525,  95.12400481,  30.48881287,  10.41468095,
        38.98317436,  46.11021062,  52.45103628,  21.16523945,
        52.28620611,  44.18863945,  97.13832018,  67.22008001,
        18.98322306,  24.3884599 ,  79.44769523,  40.03504862,
        53.32005764,  54.55446979,  -2.7611826 ,  37.80182795,
        57.48741435,  36.06292994,  49.83538167,  74.68953276,
        14.86159401, 101.0697879 ,  99.43577876,  91.69240746,
        34.12473248,   6.07939007,  59.07247174,  56.43046022,
        30.49412933,  48.35172635,  89.73153611,  72.86282528,
        80.97144285,  91.36566374,  60.07137496,  99.87382707,
         8.65571417,  69.39858505,  19.38780134,  53.11628433,
        78.39683006,  25.75612514,  75.07484683,  92.88772282,
        69.45498498,  13.12109842,  48.09843134,  79.3142548 ,
        68.48820749,  73.2300846 ,  24.68362712,  41.90368917,
        62.22635684,  45.96396877,  23.52647153,  51.80035866,
        51.10774273,  95.79747345,   9.24113898,   7.64652976,
         9.28169975, 103.5266162 ,  47.41006725,  42.03835773,
        96.11982476,  38.05766408, 105.4503788 ,  88.80306911,
        15.49301141,  12.42624606,  40.00709598,   5.6340309 ,
        87.36938931,  89.73951993,  66.61499643,  72.9138853 ,
        57.19103506,  11.21710477,   0.67607675,  28.15668543,
        95.3958003 ,  52.05490703,  59.70864577,  36.79224762,
        37.08457698,  24.18437976,  67.28725332,  82.870594  ,
        89.899991  ,  36.94173178,  19.87562242,  90.71481654,
        61.09367762,  60.11134958,  64.83296316,  81.40381769,
        92.40217686,   2.57662538,  63.80768172,  38.67780759,
        16.82839701,  99.78687252,  44.68913433,  71.00377824,
        51.57326718,  19.87846479,  79.50341495,  34.58876491,
        55.7383467 ,  68.19721905,  55.81628509,   9.3914168 ,
        56.01448111,  77.9969477 ,  55.37049953,  11.89457829,
        94.79081712,  25.69041546,  53.52042319,  18.31396758,
        21.42637785,  30.41303282,  67.68142149,  17.0854783 ,
        60.91792707,  14.99514319,  16.74923937,  41.46923883,
        42.84526108,  59.12912974,  91.30863673,   8.67333636,
        39.31485292,   5.3136862 ,   5.40522052,  68.5458879 ,
        47.33487629,  54.09063686,  63.29717058,  52.45946688])

## Build Model

In [26]:
lr = LinearRegression(fit_intercept=True)

In [27]:
lr.fit(X,y)

In [28]:
lr.intercept

-0.46181077366111367

In [29]:
lr.coef

array([1.01433536])

In [30]:
lr.predict(X)[:10]

array([77.64201157, 20.83923168, 21.85356704, 19.82489633, 36.05426201,
       14.75321955, 62.42698124, 95.90004796, 19.82489633,  4.609866  ])

## Validation

In [32]:
from sklearn import linear_model
sk_lr = linear_model.LinearRegression(normalize=False)
sk_lr.fit(X,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
sk_lr.intercept_

-0.4618107736611776

In [34]:
import numpy.testing as npt
npt.assert_almost_equal(sk_lr.intercept_,lr.intercept)

In [35]:
sk_lr.coef_

array([1.01433536])

## Load Dataset - multiple variables

In [38]:
df = pd.read_csv("C:/Users/qual9/mlr09.csv")
df.head()

,height_in_feet,weight_in_pounds,successful_field_goals,percent_of_successful_free_throws,average_points_scored
0,6.8,225,0.442,0.672,9.2
1,6.3,180,0.435,0.797,11.7
2,6.4,190,0.456,0.761,15.8
3,6.2,180,0.416,0.651,8.6
4,6.9,205,0.449,0.900,23.2

In [40]:
y = df["average_points_scored"].values
y

array([ 9.2, 11.7, 15.8,  8.6, 23.2, 27.4,  9.3, 16. ,  4.7, 12.5, 20.1,
        9.1,  8.1,  8.6, 20.3, 25. , 19.2,  3.3, 11.2, 10.5, 10.1,  7.2,
       13.6,  9. , 24.6, 12.6,  5.6,  8.7,  7.7, 24.1, 11.7,  7.7,  9.6,
        7.2, 12.3,  8.9, 13.6, 11.2,  2.8,  3.2,  9.4, 11.9, 15.4,  7.4,
       18.9,  7.9, 12.2, 11. ,  2.8, 11.8, 17.1, 11.6,  5.8,  8.3])

In [42]:
df.iloc[:,:-1].head()

,height_in_feet,weight_in_pounds,successful_field_goals,percent_of_successful_free_throws
0,6.8,225,0.442,0.672
1,6.3,180,0.435,0.797
2,6.4,190,0.456,0.761
3,6.2,180,0.416,0.651
4,6.9,205,0.449,0.900

In [43]:
X = df.iloc[:,:-1].values

## Rescaled

In [45]:
mu_X = np.mean(X, axis=0)
std_X = np.std(X, axis=0)

rescaled_X = (X-mu_X)/std_X

In [46]:
rescaled_X[:5]

array([[ 0.46843663,  0.50336336, -0.12692668, -0.70404955],
       [-0.63137111, -0.99746237, -0.25187012,  0.55584824],
       [-0.41140956, -0.66394554,  0.12296022,  0.19299768],
       [-0.85133266, -0.99746237, -0.59100234, -0.91571238],
       [ 0.68839818, -0.1636703 , -0.00198323,  1.59400403]])

## Validation

In [48]:
lr.fit(rescaled_X,y)

In [49]:
lr.coef

array([-1.67779283,  0.28359762,  2.68586629,  1.12816882])

In [50]:
lr.intercept

11.790740740740738

In [51]:
sk_lr.fit(rescaled_X, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [52]:

sk_lr.coef_

array([-1.67779283,  0.28359762,  2.68586629,  1.12816882])

In [54]:
sk_lr.intercept_

11.790740740740736